* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: 'Montserrat', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');


.listaPelis{
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 4%;
}

.titulodh{
  padding: 4%;
  width: 40%;
  opacity: .8;
  transition: 1s all;
}

.titulodh:hover{
  opacity: 1;
  width: 44%;
}

.entrar{
  text-transform: uppercase;
  color: white;
  background-color: #193572;
  border: solid .1vw white;
  width: 20%;
  transition: 1s all;
  padding: 1%;
  text-align: center;
}

.entrar:hover{
 padding: 1.2%;
 color:red;
 background-color: #3b5183;
}

.parteMain{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  /* background-color: #214252; */
  /* background-color: #f05454; */
  background-color: #af2d2d;
  /* background-color: #ce6262; */
}

.unapeli{
  all: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 10vh;
  text-align: center;
  color: white;
  text-decoration: none;
  font-size: 1.7vw;
  padding: 2%;
  margin: 2%;
  transition: 1s all;
  border: solid .3vw white;
  background-color: rgb(163, 14, 14);
  text-transform: uppercase;
}

.listaPelis *{
  text-decoration: none;
  color: rgb(255, 255, 255);
  cursor: pointer;
}

.unapeli:hover{
 width: 22%;
 color: red;
}

.colorpeli{
  background-color: #193572;
}

.colorpeli1{
  background-color: #142e66;
}

.colorpeli2{
  background-color: #132f69;
}

.colorpeli3{
  background-color: #0e2658;
}

.colorpeli4{
  background-color:  #132c63;
}

.colorpeli5{
  background-color:  #112b61;
}


.colorpeli6{
  background-color:  #122a5f;
}

.colorpeli7{
  background-color:  #122b61;
}

.colorpeli8{
  background-color:  #0a1f4e;
}


.infoComienzo{
  height: 20vh;
  background-color: #818181;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 4%;
}

.titulodhfooter{
  background-color: #cecece;
  width: 100%;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.linkhome{
  width: 10%;
  transition: 1s all;
}

.linkhome:hover{
  width: 12%;
}

.ficha{
  width: 40%;
  height: 70vh;
  background-color: #214252;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border: solid 2px white;
}

.ficha *{
  background-color:  #2a5368;
  width: 100%;
  height: 10vh;
  font-size: 2vw;
  text-align: center;
}

.eltituloficha{
  padding: 2%;
  margin: 2%;
  border: solid 2px white;
  color: white;
  background-color: #e03939;
}

.botones{
  display: flex;
  width: 20%;
  margin: 2%;
  justify-content: space-between;
}

.boton{
   all: unset;
   background-color: #ce6262;
   padding: 7%;
   margin: 2%;
   cursor: pointer;
   transition: 1s all;
   color: white;
   font-size: 1.4vw;
   text-transform: uppercase;
}

.boton:hover{
   background-color: #e9b1b1;
}

.losformsedit{
  display: flex;
  flex-direction: column;
  width: 30%;
  text-align: center;
  margin-top: 2vh;
  justify-content: space-between;
}

.losformsedit *{
  width: 100%;
  height: 6vh;
  margin: 1%;
  color: #214252;
  font-size: 1.2vw;
}


.unsubmit{
  all: unset;
  cursor: pointer;
  width: 100%;
  height: 10vh;
  margin: 1%;
  background-color: #214252;
  color: white;
  text-transform: uppercase;
  transition: 1s all;
}

.unsubmit:hover{
  background-color: #683a3a;
  font-size: 1.4vw;
}

.info{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 2%;
  text-align: center;
  font-size: 1.5vw;
  background-color: #214252;
  border: #cecece .2vw solid;
}

.losactores{
  height: 20vh;
}