<!DOCTYPE html>
<html lang="en">
    <%-include('partials/head') %> 
<body>
    <h1>Preguntas Frecuentes</h1>
    <section>
        Total de preguntas: (total de preguntas)    
    </section>
    <section>
        Listados de preguntas. Para cada preguntas mostrar:
         i. Pregunta (título de la pregunta)
         ii. Respuesta (texto de la respuesta)
    </section>
    <%-include('partials/footer') %> 
</body>
</html>