<!DOCTYPE html>
<html>
<%-include('partials/head') %> 
  <body>
    <section class="parteMain">
    <a href="/movies" class="titulodh">
      <img src="/images/dhmovies_logo.svg" alt="alguna imagen divertida">
    </a>
  </section>
  </body>
</html>
