<!DOCTYPE html>
<html>
<%-include('partials/head') %> 
  <body>
    <h1>DH Movies</h1>
    <p>Bienvenidos</p>
    <a href="/movies">DhMovies</a>
    <img src="" alt="alguna imagen divertida">
  </body>
</html>
