<!DOCTYPE html>
<html>
<%-include('partials/head') %> 
  <body>
    <section class="parteMain">
    <article class="losformsedit">
    <form action="/movies/search" method="POST">
      <input type="text" name="labusqueda" placeholder="Busque nomás">
      <input type="submit" value="buscar">
    </form>
    </article>
    </section>
      <%-include('partials/footer') %> 
  </body>
</html>
