<!DOCTYPE html>
<html lang="en">
    <%-include('partials/head') %> 
<body>
    <h1>Sucursales</h1>
    <section>Total de salas: (total de salas)
    </section>
    <section>Listados de salas. Para cada sala mostrar:
    </section>
    <%-include('partials/footer') %> 
</body>
</html>