<article >
    <form action="/movies/search" method="POST">
      <input class="uninput"  type="text" name="labusqueda" placeholder="Busque nomás...">
      <input class="unsubmit red" type="submit" value="buscar">
    </form>
</article>