<footer>
    <section>Recordá que podés visitar las secciones:
       <a href="/movies">Home</a>
       <a href="/movies/en-cartelera">En Cartelera</a>
       <a href="/movies/mas-votadas">Más Votadas</a>
       <a href="/movies/sucursales">Sucursales</a>
       <a href="/movies/contacto">Contacto</a>
       <a href="/movies/preguntas-frecuentes">Preguntas Frecuentes</a>    
    </section>
</footer>