<footer>
    <section  class="titulodhfooter">
        <a href="/movies" class="linkhome">
            <img src="/images/pequedhmovies_logo.svg" alt="alguna imagen divertida">
          </a>
    </section>
</footer>